{% extends 'base_setting.html.twig' %}

{% block title %}La liste des types de Compte{% endblock %}

{% block body %}
    <h5 class="font-weight-bolder text-uppercase">Les types de compte de mbeyan</h5>
    <hr>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center text-uppercase font-weight-bolder mt-3">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center text-uppercase font-weight-bolder mt-3">
            {{ message }}
        </div>
    {% endfor %}

    <div class="table-responsive">
        {% if type_comptes is not empty %}
            <table class="table table-striped table-bordered font-weight-bolder text-uppercase table-hover text-center mt-3">
                <thead>
                <tr class="text-uppercase bg-dark text-white">
                    <th>TYPE</th>
                    <th>Description</th>
                    <th>Multi user</th>
                    <th>Structure</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for type_compte in type_comptes %}
                    <tr>
                        <td>{{ type_compte.name }}</td>
                        <td>{{ type_compte.description }}</td>
                        <td>
                            {% if type_compte.hasManyUser %}
                                <span class="badge badge-info">OUI</span>
                            {% else %}
                                <span class="badge badge-danger">NON</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if type_compte.isStructure %}
                                <span class="badge badge-primary">OUI</span>
                            {% else %}
                                <span class="badge badge-dark">NON</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                {% if app.user.roleSuperAdminAndIsAdmin %}
                                    <a class="btn btn-sm btn-warning"
                                       href="{{ path('type_compte_edit', {'id': type_compte.id}) }}"><i
                                                class="fa fa-edit"></i></a>

                                    <form style="display: inline" method="post"
                                          action="{{ path('type_compte_delete', {'id': type_compte.id}) }}"
                                          onsubmit="return confirm('La suppression de ce type peut entrainer celle de ces comptes ainsi que les biens assocoiés à ces comptes. Êtes-vous sûr(e) ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ type_compte.id) }}">
                                        <button class="btn btn-sm btn btn-danger"><i class="fa fa-trash-alt"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-sm btn-dark disabled">AUCUNE ACTION</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center font-weight-bolder">AUCUN ENREGISTREMENT TROUVE</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger text-center font-weight-bolder text-uppercase">AUCUN ENREGISTREMENT</div>
        {% endif %}
    </div>

    {% if app.user.roleSuperAdminAndIsAdmin %}
        <a href="{{ path('type_compte_new') }}" class="btn btn-primary font-weight-bolder text-uppercase mt-3 mb-3">créer
            un nouveau</a>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });
    </script>
{% endblock %}
