{{ form_start(form) }}
<div class="form-row align-items-end">
    <div class="col-md-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lastName) }}
    </div>
</div>
<div class="form-row align-items-end">
    <div class="col-md-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.nomUtilisateur) }}
    </div>
</div>

<div class="form-row align-items-end">
    <div class="col-md-6">
        {{ form_row(form.telephone) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.adresse) }}
    </div>
</div>

<div class="form-row align-items-end">
    <div class="col-md-6">
        {{ form_row(form.password.first) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.password.second) }}
    </div>
</div>

{{ form_widget(form) }}

<button class="btn btn-primary float-right">{{ button_label|default('ENREGISTRER') }}</button>
{{ form_end(form) }}
