{% extends 'base_setting.html.twig' %}

{% block title %}Les types de documents de propriétées{% endblock %}

{% block body %}
    <h5 class="font-weight-bolder text-uppercase">Les types de documents de proprietés de mbeyan</h5>
    <hr>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center text-uppercase font-weight-bolder mt-3">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center text-uppercase font-weight-bolder mt-3">
            {{ message }}
        </div>
    {% endfor %}

    {% if type_document_proprietes is not empty %}
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered text-center font-weight-bold text-uppercase mt-3">
                <thead>
                <tr class="text-uppercase bg-dark text-white">
                    <th>Type</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for type_document_propriete in type_document_proprietes %}
                    <tr>
                        <td>{{ type_document_propriete.name }}</td>
                        <td>
                            <div class="btn-group">
                                {% if app.user.roleSuperAdminAndIsAdmin %}
                                    <a class="btn btn-sm btn-warning"
                                       href="{{ path('type_document_propriete_edit', {'id': type_document_propriete.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <form style="display: inline" method="post"
                                          action="{{ path('type_document_propriete_delete', {'id': type_document_propriete.id}) }}"
                                          onsubmit="return confirm('La suppression de ce type supprime aussi toute expertise associée. Êtes-vous sûr(e) ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ type_document_propriete.id) }}">
                                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i></button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-sm btn btn-dark disabled">AUCUNE ACTION</button>
                                {% endif %}

                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="font-weight-bolder text-uppercase">AUCUN ENREGISTREMENT</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-danger text-center font-weight-bolder text-uppercase">AUCUN ENREGISTREMENT</div>
    {% endif %}
    {% if app.user.roleSuperAdminAndIsAdmin %}
        <a class="btn btn-primary font-weight-bolder text-uppercase mt-3 mb-3" href="{{ path('type_document_propriete_new') }}">Créer un
            nouveau</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });
    </script>
{% endblock %}

